img{
  width: 500px;
  height: 300px;
  border: 2px solid #ef7143;
}

html{
  background-color: #f4c242;
}

button{
  font-size: 15px;
  background-color: white;
  color: #ef7143;
}

button{

}

.container{
  display: block;
  width: 90%;
  height: 800px;
  margin: 0 30%;
}

.cars{
  margin-bottom: 10%;
}

h1{
  color: white;
  font-size: 40px;
}

.current{
  width:10%;
  margin-top:1%;
  background-color: white;
  color:red;
  text-align: center;
}

h5{
  font-size: 15px;
  color:red;
}
